#wrapper {
    width: 1920px;
}

#tableDebug {
    border: 0px solid black;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#playerOneContainer {
    color: white;
    float: left;
    width: 420px;
    height: 600px;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 350px;
    top: 105px;
}

#playerTwoContainer {
    color: white;
    float: right;
    width: 420px;
    height: 600px;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: -350px;
    top: 105px;
}

#mapContainer {
    width: 300px;
    height: 330px;
    text-align: center;
    align-content: center;
    position: relative;
    top:50px;
}

#playerOneName {
    color: rgb(200, 200, 200);
    font-size: 40;
    font-family:'Public Sans', sans-serif;
    position: relative;
    z-index: 2;
    background-color: rgba(1, 1, 1, 0.9);
    width: 420px;
    position: relative;
    text-align: center;
    border: 0px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#playerTwoName {
    color: rgb(200, 200, 200);
    font-size: 40;
    font-family:'Public Sans', sans-serif;
    position: relative;
    z-index: 2;
    background-color: rgba(1, 1, 1, 0.9);
    width: 420px;
    position: relative;
    text-align: center;
    border: 0px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    float:right;
}

#mapLabel {
    color: rgb(250, 250, 250);
    font-size: 35;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    position:  relative;
    top: -35px;
}

#playerOneBlock {
    background-color: rgba(30, 30, 30, 0.8);
    width:420px;
    float:left;
    text-align: center;
    border-bottom: 10px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0px;
    color: rgb(200, 200, 200);
    font-size: 27;
    font-family: 'Public Sans', sans-serif;
    position: relative;
}

#playerTwoBlock {
    background-color: rgba(30, 30, 30, 0.8);
    width:420px;
    float:right;
    text-align: center;
    border-bottom: 10px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0px;
    color: rgb(200, 200, 200);
    font-size: 27;
    font-family: 'Public Sans', sans-serif;
    position: relative;
}

#playerOneWinRates {
    background-color: rgba(250, 250, 250, 0.75);
    width:395px;
    float:left;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    line-height: 50px;
    color: rgb(10, 10, 10);
    font-size: 27;
    font-family: 'Public Sans', sans-serif;
    position: relative;
    top: 0x;
    left: 10px;
    margin-bottom: 25;
    border-bottom: 10px solid black;
}

#playerTwoWinRates {
    background-color: rgba(250, 250, 250, 0.75);
    width:395px;
    float:left;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    line-height: 50px;
    color: rgb(10, 10, 10);
    font-size: 27;
    font-family: 'Public Sans', sans-serif;
    position: relative;
    top: 0x;
    left: 10px;
    margin-bottom: 25;
    border-bottom: 10px solid black;
}

#winRate {
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(145, 176, 55);
}

#playerWinLossDiv {
    width: 300px;
    position: relative;
    text-align: center;
    left: 0px;
    font-size: 24;
    font-family: 'Public Sans', sans-serif;
    color: rgb(200, 200, 200);
}

#playerOneRankLabel {
    position:absolute;
    top: -10;
    z-index: 0;
    left: 375;
}

#playerTwoRankLabel {
    position:absolute;
    top: -10;
    z-index: 1;
    left: 375;
}

#playerOneRaceLabel {
    position:relative;
    top: 0px;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
}

#playerTwoRaceLabel {
    position:relative;
    top: 0px;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
}

#playerMMR {
    position: relative;
    z-index: 2;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-color: rgba(1, 1, 1, 0.75);
    margin-top: 0px;
    margin-bottom: 0px;
}

#rankImage {
    width: 50px;
    height: 50px;
}