<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap" rel="stylesheet">

<html>
    <body onload="LoadAndRefresh()" style="padding: 0; margin: 0;">

        <input style="display:none;" id="season" width="100", name="season" value="{{ season }}" /> 
        <input style="display:none;" id="username" width="100", name="username" value="{{ username }}" /> 
        <input style="display:none;" id="playerOne" width="100", name="playerOne" value="{{ playerOne }}" /> 
        <input style="display:none;" id="playerOneRace" width="100", name="playerOneRace" value="{{ playerOneRace }}" /> 
        <input style="display:none;" type="text" id="playerTwo" width="100", name="playerTwo" value="{{ playerTwo }}"> 
        <input style="display:none;" type="text" id="playerTwoRace" width="100", name="playerTwoRace" value="{{ playerTwoRace }}"> 
        <input style="display:none;" type="text" name="map" id="map" value="{{ map }}">

        <script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>

        <table width="1920" height="1080" id="tableDebug" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <div id="playerOneContainer">
                        <div id="playerOneName"></div>
                        <div id="playerOneBlock" >
                            <div id="playerOneRaceLabel"></div>
                            <div id="playerMMR"><label>MMR:</label><label id="playerOneMMR"></label><label id="playerOneRankLabel"></label></div>
                            <center>
                                <table id="playerWinLossDiv">
                                    <tr>
                                        <td><label>Wins:</label><label id="playerOneWins"></label></td>
                                        <td><label>Losses:</label><label id="playerOneLosses"></label></td>
                                    </tr>
                                </table>
                            </center>
                            <div id="PlayerOneWinRates">
                                <div id="winRate"><label>Win Rates</label></div>
                                <div><label>Overall:</label><label id="playerOneWinRate"></label></div>
                                <div><label>VS Opponent:</label><label id="playerOneOpponentWinRate"></label></div>
                                <div><label>VS Race: </label><label id="playerOneVSRace"></label></div>
                                <div><label>VS Race On Map: </label><label id="playerOneVSMapRace"></label></div>
                            </div>
                        </div>
                    </div>
                    <div id="playerTwoContainer">
                        <div id="playerTwoName"></div>
                        <div id="playerTwoBlock">
                            <div id="playerTwoRaceLabel"></div>
                            <div id="playerMMR"><label>MMR:</label><label id="playerTwoMMR"></label><label id="playerTwoRankLabel"></label></div>
                            <center>
                                <table id="playerWinLossDiv">
                                    <tr>
                                        <td><label>Wins:</label><label id="playerTwoWins"></label></td>
                                        <td><label>Losses:</label><label id="playerTwoLosses"></label></td>
                                    </tr>
                                </table>
                            </center>
                            <div id="playerTwoWinRates">
                                <div id="winRate"><label>Win Rates</label></div>
                                <div><label>Overall:</label><label id="playerTwoWinRate"></label></div>
                                <div><label>VS Opponent: </label><label id="playerTwoOpponentWinRate"></label></div>
                                <div><label>VS Race: </label><label id="playerTwoVSRace"></label></div>
                                <div><label>VS Race On Map: </label><label id="playerTwoVSMapRace"></label></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="100%">
                    <center>
                        <div id="mapContainer">
                            <div id="mapLabel"></div>
                            <label id='mapImage'></label>
                        </div>
                    </center>
                </td>
            </tr>
        </table>

    </body>
</html>