<html>
    <body onload="LoadPlayerData()">
        <div></div>

        <form method ="POST" action="/a">
            <input style="display:none;" type="text" name="adminID" value="{{ username }}">
            <div>
                <p>
                    Form Instructions:<br>
                    Names are case sensitive and must be their exact battletag. If you don't know the exact battletag you can <br>
                    retrieve it by searching the player on w3champions and taking the name from the URL. <br>
                    For Example: https://www.w3champions.com/player/SeanMcnabb%231233, the battletag = SeanMcnabb#1233 <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;(the %23 should just be replaced with #)<br><br>

                    After you make any changes to the form, press submit and the overlay will automatically update.<br>
                    In the seasons field, only use numbers 1-9. Would be best to keep it to 9 since it's the current season
                </p>
            </div>

            <div>
                <label>Player One: </label>
                <input type="text" id="playerOne" width="100", name="playerOne" value="{{ playerOne }}"> 
                <label>Race: </label> 
                <select name="playerOneRace" id="playerOneRace">
                    <option value="0"{% if playerOneRace == "0" %} selected {% endif %}>Random</option>
                    <option value="1"{% if playerOneRace == "1" %} selected {% endif %}>Human</option>
                    <option value="2"{% if playerOneRace == "2" %} selected {% endif %}>Orc</option>
                    <option value="4"{% if playerOneRace == "4" %} selected {% endif %}>Night Elf</option>
                    <option value="8"{% if playerOneRace == "8" %} selected {% endif %}>Undead</option>
                </select>
            </div>
            
            <div
                <label>Player Two: </label>
                <input type="text" id="playerTwo" width="100", name="playerTwo" value="{{ playerTwo }}"> 
                <label>Race: </label> 
                <select name="playerTwoRace", id="playerTwoRace">
                    <option value="0"{% if playerTwoRace == "0" %} selected {% endif %}>Random</option>
                    <option value="1"{% if playerTwoRace == "1" %} selected {% endif %}>Human</option>
                    <option value="2"{% if playerTwoRace == "2" %} selected {% endif %}>Orc</option>
                    <option value="4"{% if playerTwoRace == "4" %} selected {% endif %}>Night Elf</option>
                    <option value="8"{% if playerTwoRace == "8" %} selected {% endif %}>Undead</option>
                </select>
            </div>
            <div><labe>Map: </label>
                <select name="map" id="map" value="{{ map }}">
                    <option value="EchoIsles" {% if map == "EchoIsles" %} selected {% endif %}>Echo Isles</option>
                    <option value="EchoIslesv2_2" {% if map == "EchoIslesv2_2" %} selected {% endif %}>Echo Isles 2.2</option>
                    <option value="TerenasStandLV" {% if map == "TerenasStandLV" %} selected {% endif %}>Terenas Stand</option>
                    <option value="ConcealedHill" {% if map == "ConcealedHill" %} selected {% endif %}>Concealed Hill</option>
                    <option value="NorthernIsles" {% if map == "NorthernIsles" %} selected {% endif %}>Northern Isles</option>
                    <option value="LastRefuge" {% if map == "LastRefuge" %} selected {% endif %}>Last Refuge</option>
                    <option value="LastRefugev1_4" {% if map == "LastRefugev1_4" %} selected {% endif %}>Last Refuge 1.4</option>
                    <option value="LastRefugev1_5" {% if map == "LastRefugev1_5" %} selected {% endif %}>Last Refuge 1.5</option>
                    <option value="LostTemple" {% if map == "LostTemple" %} selected {% endif %}>Lost Temple</option>
                    <option value="AutumnLeavesv2-0" {% if map == "AutumnLeavesv2-0" %} selected {% endif %}>Autumn Leaves</option>
                    <option value="ShatteredExilev2-07" {% if map == "ShatteredExilev2-07" %} selected {% endif %}>Shattered Exile</option>
                    <option value="ShallowGravev1_4" {% if map == "ShallowGravev1_4" %} selected {% endif %}>Shallow Grave</option>
                    <option value="TurtleRock" {% if map == "TurtleRock" %} selected {% endif %}>Turtle Rock</option>
                    <option value="tidehunters" {% if map == "tidehunters" %} selected {% endif %}>Tidehunters</option>
                    <option value="Tidehuntersv1_2" {% if map == "Tidehuntersv1_2" %} selected {% endif %}>Tidehunters 1.2</option>
                    <option value="Amazonia" {% if map == "Amazonia" %} selected {% endif %}>Amazonia</option>
                    <option value="SecretValleyv2_0a" {% if map == "SecretValleyv2_0a" %} selected {% endif %}>Secret Valley</option>
                    <option value="Springtimev1_1" {% if map == "Springtimev1_1" %} selected {% endif %}>Springtime</option>
                    <option value="Springtimev1_2" {% if map == "Springtimev1_2" %} selected {% endif %}>Springtime 1.2</option>
                    <option value="RustyCreekv1_1" {% if map == "RustyCreekv1_1" %} selected {% endif %}>Rusty Creek</option>
                    <option value="RustyCreekv1_2" {% if map == "RustyCreekv1_2" %} selected {% endif %}>Rusty Creek 1.2</option>
                    <option value="tbd" {% if map == "tbd" %} selected {% endif %}>TBD</option>
                </select>
            <div>
                <label>Season:</label>
                <input type="text" id="season" width="100", name="season" value="{{ season }}"> </labe>
            </div>
            <div><button type="submit" value="Submit" id="submit">Submit</button></div>
        </form>
        <script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>

        <br>
        <div>Instructions: Create a browser source in OBS with the following link. Set width to 1920 and height to 1080.</div>

        <div>1v1 Overlay: <a href="/1v1/{{ username }}">{{ domain }}/1v1/{{ username }}</a></div>
        <div>Your Admin Link: <a href="/a/{{ username }}" target="_blank">{{ domain }}/a/{{ username }}</a></div>
        <!-- <div>Current Ladder Game Overlay: <a href="/u/{{ username }}">{{ domain }}/1v1/{{ username }}</a></div> -->
        <br>

        <div><label id="infoPreview">Information Preview:</label></div>
    </body>
</html>

<html>
    <body>
        <input style="display:none;" id="season" width="100", name="season" value="{{ season }}" /> 
        <input style="display:none;" id="username" width="100", name="username" value="{{ username }}" /> 
        <input style="display:none;" id="playerOne" width="100", name="playerOne" value="{{ playerOne }}" /> 
        <input style="display:none;" id="playerOneRace" width="100", name="playerOneRace" value="{{ playerOneRace }}" /> 
        <input style="display:none;" type="text" id="playerTwo" width="100", name="playerTwo" value="{{ playerTwo }}"> 
        <input style="display:none;" type="text" id="playerTwoRace" width="100", name="playerTwoRace" value="{{ playerTwoRace }}"> 
        <input style="display:none;" type="text" name="map" id="map" value="{{ map }}">

        <script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>

        <div id="wrapper">

            <div id="playerOneBlock" >
                <div id="playerName"><label id="playerOneName"></label></div>
                <div><label id="playerOneRaceLabel"></label></div>
                <div id="playerOneRankLabel"></div>
                <div><label>MMR:</label><label id="playerOneMMR"></label></div>
                <center>
                    <table id="playerOneWinLossDiv">
                        <tr>
                            <td><label>Wins:</label><label id="playerOneWins"></label></td>
                            <td><label>Losses:</label><label id="playerOneLosses"></label></td>
                        </tr>
                    </table>
                </center>
                <div id="winRates">
                    <div id="winRate"><label>Win Rates</label></div>
                    <div><label>Overall:</label><label id="playerOneWinRate"></label></div>
                    <div><label>VS Opponent:</label><label id="playerOneOpponentWinRate"></label></div>
                    <div><label>VS Race: </label><label id="playerOneVSRace"></label></div>
                    <div><label>VS Race On Map: </label><label id="playerOneVSMapRace"></label></div>
                </div>
            </div>
    
            <div id="spacer"></div>
    
            <div id="playerTwoBlock">
                <div id="playerName"><label id="playerTwoName"></label></div>
                <div><label id="playerTwoRaceLabel"></label></div>
                <div id="playerTwoRankLabel"></div>
                <div><label>MMR:</label><label id="playerTwoMMR"></label></div>
                <center>
                    <table id="playerOneWinLossDiv">
                        <tr>
                            <td><label>Wins:</label><label id="playerTwoWins"></label></td>
                            <td><label>Losses:</label><label id="playerTwoLosses"></label></td>
                        </tr>
                    </table>
                </center>
                <div id="winRates">
                    <div id="winRate"><label>Win Rates</label></div>
                    <div><label>Overall:</label><label id="playerTwoWinRate"></label></div>
                    <div><label>VS Opponent: </label><label id="playerTwoOpponentWinRate"></label></div>
                    <div><label>VS Race: </label><label id="playerTwoVSRace"></label></div>
                    <div><label>VS Race On Map: </label><label id="playerTwoVSMapRace"></label></div>
                </div>
            </div>

            <div id="mapLabel"></div>
    
            <div id="map">
                <label id='mapImage'></label>
            </div>
        </div>
    </body>
</html>


